h1= title
p Welcome #{user}!
#user_dashboard
    #user_workout_feed
        #user_workouts
            #workout_today.title Today's Workout
            #workout_past.title Past Workouts
        #workout_summary workout future!
            #calendar
    #workout_strangers.title People with Similar Workout Plans