!!!
html
  head
    title= title
    <script src='/javascripts/3p/jquery-1.7.1.min.js'></script>
    <script src='/javascripts/3p/jquery-ui-1.8.18.custom.min.js'></script>
    <script src='/javascripts/3p/fullcalendar.min.js'></script>
    <script src='/javascripts/3p/gcal.js'></script>

    <script src='/javascripts/user_dashboard.js'></script>

    link(rel='stylesheet', href='/stylesheets/3p/fullcalendar.css')
    link(rel='stylesheet', href='/stylesheets/3p/jquery-ui-1.8.18.custom.css')
    link(rel='stylesheet', href='/stylesheets/user_dashboard.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body